@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;;
}

.app-container {
  background-color: #EAEAE9;
  height: 100%;
  min-height: 100vh;
}

.start-searching {
  font-size: 1.5rem;
  margin-top: 20%;
  text-align: center;
}

.search-first {
  font-size: 1.5rem;
  margin-top: 20%;
  text-align: center;
  padding: 0 1rem;
}