.form-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container__section-title {
  padding-bottom: 0.5rem;
  font-size: 1.3rem;
  text-align: center;
}

.form-container__section-description {
  padding-bottom: 0.5rem;
  font-size: 1rem;
}

.search-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form__submit-button {
  padding: 0.5rem;
  border: 2px solid #BEA58B;
  border-right: none;
  background-color: transparent;
}

.search-form__input-field {
  width: 75%;
  padding: 0.5rem;
  border: 2px solid #BEA58B;
  border-left: none;
  background-color: transparent;
}

.search-form__input-field:focus {
  outline: none;
}

.search-form__input-field::placeholder {
  font-size: 1rem;
  color: black;
}

.submit-button__icon {
  font-size: 0.9rem;
}